body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    text-align: center;
    background: url('back.jpg') no-repeat center center fixed;
    background-size: cover;
}

input {
    background-color: white;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #fffdd0;
    color: white;
}

button:hover {
    background-color: #e04e2c;
}
a {
    color: brown; /* Changes link color to brown */
    text-decoration: none; /* Removes underline */
}
a:hover {
    color: darkred; /* Slightly darker shade when hovered */
}
.container {
    background-color: #B0E0E6; /* Box color */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
